.projetos {
  background: #141414;
  color: #ffffff;
}
.projetos-container {
  max-width: 1200px;
  padding: 100px 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-gap: 30px;
}
.projetos-lista{
  grid-column: 2;
  display: block;
  height: 200px;
  overflow-y: scroll;
}
.projetos-lista li{
  cursor: pointer;
  margin: 2px;
}
.projetos-lista::-webkit-scrollbar{
  width: 18px;
}
.projetos-lista::-webkit-scrollbar-thumb {
  background: #123F4C;
  border-left: 4px solid #141414;
  border-right: 4px solid #141414;
}

/*Navegação por Tabs*/
 .js-tabcontent section{
  display: none;
}

.js-tabcontent section.ativo{
  display: block !important;
  animation: show .5s forwards;
}